[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/killermenpl/Desktop/Dying Light.desktop]
row=5
col=0

[01D1E8E778DE2990]
row=0
col=0

[01D262B0CB16F050]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/killermenpl]
row=4
col=0

