[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/killermenpl/Desktop/Dying Light.desktop]
row=6
col=0

[01D1E8E778DE2990]
row=1
col=0

[01D23378EED8E690]
row=2
col=0

[1EF7-36A9]
row=0
col=0

[Kosz]
row=3
col=0

[/]
row=4
col=0

[/home/killermenpl]
row=5
col=0

